# =========================================
# Build Artifacts
# =========================================
bin/
build/

# =========================================
# Build System Metadata
# =========================================
.gradle/

# =========================================
# IDE / Editor Metadata
# =========================================
.vscode/
.idea/
*.iml

# =========================================
# OS Junk Files
# =========================================
.DS_Store
Thumbs.db
